body {
  background-image: url("https://dl.dropboxusercontent.com/s/o6gu442sx3g9es2/cork-board.jpg");
}

h1 {
  color: red;
}

.polaroid {
  position: relative;
  top: 60px;
  left: 100px;
  height: 300px;
  width: 300px;
}

#polaroid-border {
  width: 680px;
  position: absolute;
  z-index: -2;
}

#polaroid-image {
  position: absolute;
  top: 85px;
  left: 95px;
  z-index: -1;
}

#pin {
  position: absolute;
  top: -20px;
  left: 200px;
  height: 120px;
  width: auto;
}
